#rsvp {
  width: 30em;
  height: 3em;
}

body {
  background-image: url('https://totallytwitter.files.wordpress.com/2011/07/twitter1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Bubblegum Sans', cursive;
}

body h3, h2 {
  font-family: 'Bubblegum Sans', cursive;
}

ul {
  list-style: none;
}

.list h4, h5 {
  font-family: 'Indie Flower', cursive;
}

.list {
  font-family: 'Bubblegum Sans', cursive;
}
