#rsvp {
  width: 30em;
  height: 3em;
}

html {
  height: 100%;
}

body {
  background-image: url('https://totallytwitter.files.wordpress.com/2011/07/twitter1.png');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Passion One', cursive;
}

body h1, h2, h3, h4, h5, h6 {
  font-family: 'Passion One', cursive;
}

ul {
  list-style: none;
}
